<% posts.forEach(post => { %>
    <div class="post">
        <h1><%= post.titulo %></h1>
        <h4><%= post.autor %> - <%= post.data_postagem %></h4>
        <a href="/lista/<%= post.id %>" class="btn btn-danger">Deletar</a>
        <p class="linha">____________________________________</p>
    </div>
    <% }) %>
    