* {
    border: 0px solid rgb(0, 255, 179);
}

body{
    background-color: #fff1d6;
}

input{
    border-radius: 20px;
}

.jumbotron{
    text-align: center;
    width: 1100px;
}

.linha{
    color: #777777;
    font-size: 25px;
}

h4{
    color: #777777;
}

.text{
    height: 200px;
    width: 1050px;
    border-radius: 20px;
}

button{
    color: #fff;
    background-color: #e93a3a;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}